In [1]:
from Advertiser import *
import plotly.express as px
import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-07-01'
end_date = str(datetime.date.today())

In [5]:
# создаем датафрейм для LIME
lime_df = lime.create_data_frame(date_from=start_date, date_to=end_date)

In [6]:
lime_partners_general_stats = get_general_stats(lime_df, index='date')
lime_partners_general_stats

loan_category,reg,new,rep,total,ARn%,ARr%,RLS%,costs_new,costs_rep,costs_total,CPAn,CPAo,CPAr
date,,,,,,,,,,,,,
2021-07-01,1778,479,255,734,0.27,0.14,0.35,1442400,127500,1569900,3011,500,3277
2021-07-02,1750,480,224,704,0.27,0.13,0.32,1436500,112000,1548500,2992,500,3226
2021-07-03,1788,466,220,686,0.26,0.12,0.32,1374200,110000,1484200,2948,500,3184
2021-07-04,1956,502,237,739,0.26,0.12,0.32,1517800,118500,1636300,3023,500,3259
2021-07-05,1958,608,240,848,0.31,0.12,0.28,1822300,120000,1942300,2997,500,3194
2021-07-06,1812,451,232,683,0.25,0.13,0.34,1372300,116000,1488300,3042,500,3300
2021-07-07,1715,434,285,719,0.25,0.17,0.40,1299400,142500,1441900,2994,500,3322
2021-07-08,1709,458,252,710,0.27,0.15,0.35,1392400,126000,1518400,3040,500,3315
2021-07-09,1594,475,227,702,0.30,0.14,0.32,1408400,113500,1521900,2965,500,3204
2021-07-10,1681,372,246,618,0.22,0.15,0.40,1121800,123000,1244800,3015,500,3346
2021-07-11,1655,455,209,664,0.27,0.13,0.31,1362300,104500,1466800,2994,500,3223
2021-07-12,876,280,133,413,0.32,0.15,0.32,845100,66500,911600,3018,500,3255

In [7]:
# fig = px.bar(lime_partners_general_stats[lime_partners_general_stats.columns.to_list()])
# fig.show()

In [8]:
# lime_issued_loans_by_partners = get_loans_by_aff(lime_df, index='date')
# lime_issued_loans_by_partners

In [9]:
# fig = px.bar(lime_issued_loans_by_partners[lime_issued_loans_by_partners.columns.to_list()])
# fig.show()

In [10]:
# get_aff_web_stats(lime_df, aff='34', web='0', index='date')

In [11]:
# создаем датафрейм для KONGA
konga_df = konga.create_data_frame(date_from=start_date, date_to=end_date)

In [12]:
konga_partners_general_stats = get_general_stats(konga_df, index='date')
konga_partners_general_stats

loan_category,reg,new,rep,total,ARn%,ARr%,RLS%,costs_new,costs_rep,costs_total,CPAn,CPAo,CPAr
date,,,,,,,,,,,,,
2021-07-01,898,203,43,246,0.23,0.05,0.17,412000,12900,424900,2029,300,2093
2021-07-02,854,99,49,148,0.12,0.06,0.33,198400,14700,213100,2004,300,2152
2021-07-03,597,117,28,145,0.20,0.05,0.19,222400,8400,230800,1900,300,1972
2021-07-04,696,76,66,142,0.11,0.09,0.46,141600,19800,161400,1863,300,2123
2021-07-05,593,87,19,106,0.15,0.03,0.18,152000,5700,157700,1747,300,1812
2021-07-06,702,92,44,136,0.13,0.06,0.32,177600,13200,190800,1930,300,2073
2021-07-07,744,85,48,133,0.11,0.06,0.36,156000,14400,170400,1835,300,2004
2021-07-08,740,71,44,115,0.10,0.06,0.38,143200,13200,156400,2016,300,2202
2021-07-09,732,89,31,120,0.12,0.04,0.26,177600,9300,186900,1995,300,2100
2021-07-10,693,63,29,92,0.09,0.04,0.32,128000,8700,136700,2031,300,2169
2021-07-11,892,58,21,79,0.07,0.02,0.27,108800,6300,115100,1875,300,1984
2021-07-12,480,54,26,80,0.11,0.05,0.32,104800,7800,112600,1940,300,2085

In [13]:
# fig = px.bar(konga_partners_general_stats[konga_partners_general_stats.columns.to_list()])
# fig.show()

In [14]:
# lime_df.sample(20)

In [15]:
lime_df[lime_df['loan_category'] != 'reg']['weekday'].value_counts()

Thursday     1444
Friday       1406
Sunday       1403
Saturday     1304
Monday       1261
Wednesday     719
Tuesday       683
Name: weekday, dtype: int64