In [1]:
from Advertiser import *
import datetime

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-01'
end_date = str(datetime.date.today())

In [5]:
lime_df = lime.create_data_frame(date_from=start_date, date_to=end_date)

In [7]:
'''
функция принимает 2 аргумента:
*data - фрейм(в нашем случае lime_df), в котором каждая строка = уникальная конверсия с определенным набором данных
*index - метод группировки. Доступные для группировки значения: date, week, month, year.
'''
get_general_stats(data=lime_df, index='week')

loan_category,reg,new,rep,total,ARn%,ARr%,RLS%,costs_new,costs_rep,costs_total,CPAn,CPAo,CPAr
week,,,,,,,,,,,,,
17,2817,694,394,1088,0.25,0.14,0.36,2057400,197000,2254400,2964,500,3248
18,12462,3088,1463,4551,0.25,0.12,0.32,9242600,731500,9974100,2993,500,3229
19,12688,3153,1456,4609,0.25,0.11,0.32,9424700,728000,10152700,2989,500,3220
20,6168,1489,775,2264,0.24,0.13,0.34,4432900,387500,4820400,2977,500,3237