In [1]:
from Advertiser import *
from datetime import date, timedelta

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-12'
end_date = str(date.today())

* reg - registrations
* new - new loans
* old - repeated loans
* all - all loans (new + old)
* ARn% - approve rate reg -> new
* ARo% - approve rate reg -> old
* RLS% - repeated loans share
* costs_new - costs of new loans
* costs_old - costs of old loans
* costs_total - costs of oll loans
* CPAn - avg.cost of new loan
* CPAo - avg.cost of old loan
* CPAr - real avg.cost of new loan (costs_total / new)

In [5]:
# доступные параметры для groupby: date, week, month, year
lime = lime.general_stats(date_from=start_date, date_to=end_date, groupby='date')

# смотрим результат
lime

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
date,,,,,,,,,,,,,,
2021-05-12,1908,478,210,688,25.0,11.0,31.0,1417300,105000,1522300,2965,500,3184,797
2021-05-13,1643,421,189,610,26.0,12.0,31.0,1245800,94500,1340300,2959,500,3183,815
2021-05-14,1651,428,208,636,26.0,13.0,33.0,1278000,104000,1382000,2985,500,3228,837
2021-05-15,1641,374,203,577,23.0,12.0,35.0,1126900,101500,1228400,3013,500,3284,748
2021-05-16,1736,377,184,561,22.0,11.0,33.0,1149300,92000,1241300,3048,500,3292,715
2021-05-17,1811,461,164,625,25.0,9.0,26.0,1372300,82000,1454300,2976,500,3154,803
2021-05-18,1137,282,176,458,25.0,15.0,38.0,845300,88000,933300,2997,500,3309,820

In [6]:
# доступные параметры для groupby: date, week, month, year
konga = konga.general_stats(date_from=start_date, date_to=end_date, groupby='date')

# смотрим результат
konga

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
date,,,,,,,,,,,,,,
2021-05-12,504,67,52,119,13.0,10.0,44.0,136000,15600,151600,2029,300,2262,300
2021-05-13,496,55,43,98,11.0,9.0,44.0,111200,12900,124100,2021,300,2256,250
2021-05-14,510,89,46,135,17.0,9.0,34.0,176800,13800,190600,1986,300,2141,373
2021-05-15,554,62,39,101,11.0,7.0,39.0,124800,11700,136500,2012,300,2201,246
2021-05-16,568,55,48,103,10.0,8.0,47.0,111200,14415,125615,2021,300,2283,221
2021-05-17,608,95,43,138,16.0,7.0,31.0,188000,12900,200900,1978,300,2114,330
2021-05-18,427,62,35,97,15.0,8.0,36.0,112000,10500,122500,1806,300,1975,286