In [1]:
from Advertiser import *
from datetime import date, timedelta

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-01'
end_date = str(date.today())

## 1. GENERAL STATS

### Columns discription:
* reg - registrations
* new - new loans
* old - repeated loans
* all - all loans (new + old)
* ARn% - approve rate reg -> new
* ARo% - approve rate reg -> old
* RLS% - repeated loans share
* costs_new - costs of new loans
* costs_old - costs of old loans
* costs_total - costs of oll loans
* CPAn - avg.cost of new loan
* CPAo - avg.cost of old loan
* CPAr - real avg.cost of new loan (costs_total / new)

### LIME | Overall General Stats

In [5]:
# доступные параметры для groupby: date, week, month, year
lime.advertiser_general_stats(date_from=start_date, date_to=end_date, groupby='week')

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
week,,,,,,,,,,,,,,
17,2817,694,394,1088,0.25,0.14,0.36,2057400,197000,2254400,2964,500,3248,800
18,12462,3088,1463,4551,0.25,0.12,0.32,9242600,731500,9974100,2993,500,3229,800
19,12687,3153,1455,4608,0.25,0.11,0.32,9424700,727500,10152200,2989,500,3219,800
20,3206,789,367,1156,0.25,0.11,0.32,2352000,183500,2535500,2980,500,3213,790

### LIME | Affiliate General Stats

#### Leads.Tech

In [6]:
# # доступные параметры для groupby: date, week, month, year
# lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=3, groupby='week')

#### Leads.su

In [7]:
# # доступные параметры для groupby: date, week, month, year
# lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=29, groupby='week')

#### Leadgid

In [8]:
# # доступные параметры для groupby: date, week, month, year
# lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=30, groupby='week')

#### Guruleads

In [9]:
# # доступные параметры для groupby: date, week, month, year
# lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=34, groupby='week')

In [10]:
partner_list = [3, 29, 30, 34]

for partner in partner_list:
    display(lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=partner, groupby='week'))

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
week,,,,,,,,,,,,,,
17,984,235,75,310,0.24,0.08,0.24,748000,37500,785500,3182,500,3342,798
18,3803,856,263,1119,0.23,0.07,0.24,2710600,131500,2842100,3166,500,3320,747
19,3060,745,251,996,0.24,0.08,0.25,2356600,125500,2482100,3163,500,3331,811
20,687,161,57,218,0.23,0.08,0.26,510000,28500,538500,3167,500,3344,783

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
week,,,,,,,,,,,,,,
17,717,175,105,280,0.24,0.15,0.38,530900,52500,583400,3033,500,3333,813
18,3290,844,348,1192,0.26,0.11,0.29,2569900,174000,2743900,3044,500,3251,834
19,3938,945,432,1377,0.24,0.11,0.31,2908200,216000,3124200,3077,500,3306,793
20,1105,262,129,391,0.24,0.12,0.33,802100,64500,866600,3061,500,3307,784

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
week,,,,,,,,,,,,,,
17,309,88,132,220,0.28,0.43,0.60,229200,66000,295200,2604,500,3354,955
18,1604,472,540,1012,0.29,0.34,0.53,1296000,270000,1566000,2745,500,3317,976
19,1614,503,457,960,0.31,0.28,0.48,1363200,228500,1591700,2710,500,3164,986
20,300,97,86,183,0.32,0.29,0.47,255300,43000,298300,2631,500,3075,994

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
week,,,,,,,,,,,,,,
17,530,129,47,176,0.24,0.09,0.27,379200,23500,402700,2939,500,3121,759
18,2457,624,187,811,0.25,0.08,0.23,1902100,93500,1995600,3048,500,3198,812
19,2739,648,200,848,0.24,0.07,0.24,1983100,100000,2083100,3060,500,3214,760
20,697,172,61,233,0.25,0.09,0.26,530200,30500,560700,3082,500,3259,804