In [1]:
from Advertiser import *
import datetime

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-14'
end_date = str(datetime.date.today())

In [5]:
# lime_df (lime data frame) предобработанные данные из affise API
lime_df = lime.create_data_frame(date_from=start_date, date_to=end_date)

In [6]:
get_general_stats(lime_df, index='date')

            new  old   reg  payouts
date
2021-05-14  428  208  1651  1382000
2021-05-15  374  203  1641  1228400
2021-05-16  377  184  1735  1241300
2021-05-17  461  164  1811  1454300
2021-05-18  373  224  1576  1228800
2021-05-19  280  183  1174   929500