In [1]:
from Advertiser import *
import datetime

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-10'
end_date = str(datetime.date.today())

In [5]:
# доступные параметры для index: date, week, month, year
lime = lime.general_stats(date_from=start_date, date_to=end_date, index='date')

In [6]:
'''
reg - registrations
new - new loans
old - repeated loans
all - all loans (new + old)
ARn% - approve rate reg->new
ARo% - approve rate reg->old
RLS% - repeated loans share 
'''
lime

loan_category   reg  new  old
date
2021-05-10     1989  479  218
2021-05-11     2120  596  243
2021-05-12     1908  478  210
2021-05-13     1643  421  189
2021-05-14     1651  428  208
2021-05-15     1641  374  203
2021-05-16     1735  377  184
2021-05-17      987  249  104