In [1]:
from Advertiser import *
from datetime import date, timedelta

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-12'
end_date = str(date.today())

## 1. GENERAL STATS

### Columns discription:
* reg - registrations
* new - new loans
* old - repeated loans
* all - all loans (new + old)
* ARn% - approve rate reg -> new
* ARo% - approve rate reg -> old
* RLS% - repeated loans share
* costs_new - costs of new loans
* costs_old - costs of old loans
* costs_total - costs of oll loans
* CPAn - avg.cost of new loan
* CPAo - avg.cost of old loan
* CPAr - real avg.cost of new loan (costs_total / new)

### LIME General Stats

In [5]:
# доступные параметры для groupby: date, week, month, year
lime = lime.advertiser_general_stats(date_from=start_date, date_to=end_date, groupby='date')

# смотрим результат
lime

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
date,,,,,,,,,,,,,,
2021-05-12,1908,478,210,688,0.25,0.11,0.31,1417300,105000,1522300,2965,500,3184,797
2021-05-13,1643,421,189,610,0.26,0.12,0.31,1245800,94500,1340300,2959,500,3183,815
2021-05-14,1651,428,208,636,0.26,0.13,0.33,1278000,104000,1382000,2985,500,3228,837
2021-05-15,1641,374,203,577,0.23,0.12,0.35,1126900,101500,1228400,3013,500,3284,748
2021-05-16,1735,377,184,561,0.22,0.11,0.33,1149300,92000,1241300,3048,500,3292,715
2021-05-17,1811,461,164,625,0.25,0.09,0.26,1372300,82000,1454300,2976,500,3154,803
2021-05-18,1190,287,180,467,0.24,0.15,0.39,859500,90000,949500,2994,500,3308,797

In [6]:
# доступные параметры для groupby: date, week, month, year
lime = lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=30, groupby='date')

# смотрим результат
lime

AttributeError: 'DataFrame' object has no attribute 'partner_general_stats'