In [1]:
from Advertiser import *
import datetime

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-01-01'
end_date = str(datetime.date.today())

In [5]:
lime = lime.conversions_by_partners_and_time(date_from=start_date, date_to=end_date, index='week')

In [6]:
lime

loan_category   new   old    reg
week
1              1960   676   7706
2              1630   692   6432
3              1912   756   8518
4              1947   696   8927
5              1945   680   8732
6              1602   762   7443
7              1699   787   7763
8              1996   968   9343
9              2327   932   9951
10             1792   928   6332
11             1753   904   6750
12             2490   934   9764
13             3085  1147  12879
14             3005  1145  12320
15             2672  1402  11135
16             2909  1399  12116
17             2794  1480  11392
18             3088  1463  12462
19             2264  1016   8784
53              452   196   1580