In [1]:
from Advertiser import *
import plotly.express as px
import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-03-01'
end_date = str(datetime.date.today())

In [5]:
# создаем датафрейм для LIME
lime_df = lime.create_data_frame(date_from=start_date, date_to=end_date)

In [6]:
lime_partners_general_stats = get_general_stats(lime_df, index='date')
lime_partners_general_stats

loan_category,reg,new,rep,total,ARn%,ARr%,RLS%,costs_new,costs_rep,costs_total,CPAn,CPAo,CPAr
date,,,,,,,,,,,,,
2021-03-01,1507,319,138,457,0.21,0.09,0.30,866700,69000,935700,2716,500,2933
2021-03-02,1301,310,137,447,0.24,0.11,0.31,846300,68500,914800,2730,500,2950
2021-03-03,1340,355,124,479,0.26,0.09,0.26,972000,62000,1034000,2738,500,2912
2021-03-04,1449,332,118,450,0.23,0.08,0.26,934200,59000,993200,2813,500,2991
2021-03-05,1454,369,128,497,0.25,0.09,0.26,1039500,64000,1103500,2817,500,2990
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-08,1709,458,252,710,0.27,0.15,0.35,1392400,126000,1518400,3040,500,3315
2021-07-09,1594,475,227,702,0.30,0.14,0.32,1408400,113500,1521900,2965,500,3204
2021-07-10,1681,372,246,618,0.22,0.15,0.40,1121800,123000,1244800,3015,500,3346
2021-07-11,1655,455,209,664,0.27,0.13,0.31,1362300,104500,1466800,2994,500,3223
2021-07-12,274,86,55,141,0.31,0.20,0.39,259000,27500,286500,3011,500,3331

In [7]:
# fig = px.bar(lime_partners_general_stats[lime_partners_general_stats.columns.to_list()])
# fig.show()

In [8]:
# lime_issued_loans_by_partners = get_loans_by_aff(lime_df, index='date')
# lime_issued_loans_by_partners

In [9]:
# fig = px.bar(lime_issued_loans_by_partners[lime_issued_loans_by_partners.columns.to_list()])
# fig.show()

In [10]:
# get_aff_web_stats(lime_df, aff='34', web='0', index='date')

In [11]:
# создаем датафрейм для KONGA
konga_df = konga.create_data_frame(date_from=start_date, date_to=end_date)

In [12]:
konga_partners_general_stats = get_general_stats(konga_df, index='date')
konga_partners_general_stats

loan_category,reg,new,rep,total,ARn%,ARr%,RLS%,costs_new,costs_rep,costs_total,CPAn,CPAo,CPAr
date,,,,,,,,,,,,,
2021-03-01,755,147,39,186,0.19,0.05,0.21,244800,11700,256500,1665,300,1744
2021-03-02,729,103,47,150,0.14,0.06,0.31,169600,14100,183700,1646,300,1783
2021-03-03,655,101,30,131,0.15,0.05,0.23,173600,9000,182600,1718,300,1807
2021-03-04,687,89,37,126,0.13,0.05,0.29,168800,11500,180300,1896,310,2025
2021-03-05,655,93,40,133,0.14,0.06,0.30,177600,12000,189600,1909,300,2038
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-08,740,71,44,115,0.10,0.06,0.38,143200,13200,156400,2016,300,2202
2021-07-09,732,89,31,120,0.12,0.04,0.26,177600,9300,186900,1995,300,2100
2021-07-10,693,63,29,92,0.09,0.04,0.32,128000,8700,136700,2031,300,2169
2021-07-11,892,58,21,79,0.07,0.02,0.27,108800,6300,115100,1875,300,1984
2021-07-12,167,17,6,23,0.10,0.04,0.26,32800,1800,34600,1929,300,2035

In [13]:
# fig = px.bar(konga_partners_general_stats[konga_partners_general_stats.columns.to_list()])
# fig.show()

In [14]:
# lime_df.sample(20)

In [15]:
lime_df[lime_df['loan_category'] != 'reg']['weekday'].value_counts()

Monday       12227
Tuesday      11814
Wednesday    11381
Thursday     11229
Friday       11175
Sunday       10712
Saturday     10648
Name: weekday, dtype: int64