In [1]:
from Advertiser import *
from datetime import date, timedelta

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-05-12'
end_date = str(date.today())

## 1. GENERAL STATS

### Columns discription:
* reg - registrations
* new - new loans
* old - repeated loans
* all - all loans (new + old)
* ARn% - approve rate reg -> new
* ARo% - approve rate reg -> old
* RLS% - repeated loans share
* costs_new - costs of new loans
* costs_old - costs of old loans
* costs_total - costs of oll loans
* CPAn - avg.cost of new loan
* CPAo - avg.cost of old loan
* CPAr - real avg.cost of new loan (costs_total / new)

### LIME General Stats

In [5]:
# доступные параметры для groupby: date, week, month, year
lime.advertiser_general_stats(date_from=start_date, date_to=end_date, groupby='date')

loan_category,reg,new,old,total,ARn%,ARo%,RLS%,costs_new,costs_old,costs_total,CPAn,CPAo,CPAr,CPL
date,,,,,,,,,,,,,,
2021-05-12,1908,478,210,688,0.25,0.11,0.31,1417300,105000,1522300,2965,500,3184,797
2021-05-13,1643,421,189,610,0.26,0.12,0.31,1245800,94500,1340300,2959,500,3183,815
2021-05-14,1651,428,208,636,0.26,0.13,0.33,1278000,104000,1382000,2985,500,3228,837
2021-05-15,1641,374,203,577,0.23,0.12,0.35,1126900,101500,1228400,3013,500,3284,748
2021-05-16,1735,377,184,561,0.22,0.11,0.33,1149300,92000,1241300,3048,500,3292,715
2021-05-17,1811,461,164,625,0.25,0.09,0.26,1372300,82000,1454300,2976,500,3154,803
2021-05-18,1204,289,180,469,0.24,0.15,0.38,864300,90000,954300,2990,500,3302,792

In [6]:
# доступные параметры для groupby: date, week, month, year
lime.partner_general_stats(date_from=start_date, date_to=end_date, partner_id=30, groupby='date')

,date,action_id,click_id,status,offer_id,goal,payouts,partner,sub1,sub2,sub3,sub4,sub5,sub6,weekday,week,month,year,loan_category
0,2021-05-18,5154335,60a3d46d190e9c00012a2dcc,pending,16,registration,0,Guruleads,94b8b0e9fff84b45b3b281bff8140f8b,,178,,,,Tuesday,20,5,2021,reg
1,2021-05-18,5153897,60a3d562190e9c00012a2e63,confirmed,16,low_score_client,1800,Leads,223887822fe6637bc3efc0bc70c08deb,1150341,134175,,,,Tuesday,20,5,2021,new
2,2021-05-18,5153335,60a391d9190e9c00012a05ac,pending,16,registration,0,Guruleads,3395dd4afe027d6fffc269d4a878404f,,1501,,,,Tuesday,20,5,2021,reg
3,2021-05-18,5154328,60a3d3d2190e9c00012a2d81,pending,16,registration,0,Guruleads,d84d42592343a5022d48483847700652,,2764,,,,Tuesday,20,5,2021,reg
4,2021-05-18,5154315,60a3d317190e9c00012a2d22,pending,16,registration,0,Leads,5f45eac454b1418bc4a4921deb4b2bcd,1103405,47386,,,,Tuesday,20,5,2021,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15754,2021-05-12,5006805,609acd3b190e9c0001264682,confirmed,16,med_score_client,3000,Guruleads,93f03f938d7f553b418cfc9387867454,,666,,,,Wednesday,19,5,2021,new
15755,2021-05-12,5067089,609ad4d0190e9c000126499f,confirmed,16,med_score_client,3000,LeadGid,102509d840d300c73819569c61407b,,57977,,,,Wednesday,19,5,2021,new
15756,2021-05-12,4710001,609ad812190e9c0001264b00,confirmed,16,repeated_loan,500,Leads,b30cddfddf392cc1e8f9e991f482ab14,1142373,124449,,,,Wednesday,19,5,2021,old
15757,2021-05-12,5125437,60986114190e9c0001250bac,confirmed,16,repeated_loan,500,Guruleads,67d49d96c1dbf6852c23febc8ab6a68c,,1430,,,,Wednesday,19,5,2021,old
15758,2021-05-12,5132673,609ae702190e9c0001265009,pending,16,registration,0,leads.tech,,leadstech-click-9,fd6ba405a26d466eae5229aa9e2d7d89,monebo-of-list-limezaim-26,,,Wednesday,19,5,2021,reg