In [1]:
from Advertiser import *
from datetime import date, timedelta
import time

In [2]:
LIME = '5a558391c3ebae42008b4567'
KONGA = '5a558967c3ebae43008b4567'

In [3]:
lime = Advertiser(adv_id=LIME)
konga = Advertiser(adv_id=KONGA)

In [4]:
start_date = '2021-01-04'
end_date = str(date.today())

## 1. Create advertisers's data frame

### Columns discription:
* reg - registrations
* new - new loans
* old - repeated loans
* all - all loans (new + old)
* ARn% - approve rate reg -> new
* ARo% - approve rate reg -> old
* RLS% - repeated loans share
* costs_new - costs of new loans
* costs_old - costs of old loans
* costs_total - costs of oll loans
* CPAn - avg.cost of new loan
* CPAo - avg.cost of old loan
* CPAr - real avg.cost of new loan (costs_total / new)

In [5]:
lime_df = lime.get_data_frame(date_from=start_date, date_to=end_date)
konga_df = konga.get_data_frame(date_from=start_date, date_to=end_date)

In [6]:
lime_df.pivot_table(index='week', columns='loan_category', values='goal', aggfunc='count')

loan_category   new   old    reg
week
1              1960   676   7706
2              1630   692   6431
3              1912   756   8518
4              1947   696   8927
5              1945   680   8732
6              1602   762   7443
7              1699   787   7763
8              1997   968   9342
9              2327   932   9951
10             1792   928   6332
11             1753   904   6750
12             2491   934   9765
13             3085  1147  12878
14             3005  1145  12320
15             2672  1402  11134
16             2909  1399  12116
17             2794  1480  11392
18             3088  1463  12462
19             3154  1455  12688
20              801   372   3284