In [1]:
import pandas as pd

In [2]:
lime_data = pd.read_csv('LIME2021.csv')

/Users/mikhail/PycharmProjects/affise/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
partners = ['LEADGID', 'GURU', 'LEADS', 'CLICK2MONEY']

topWeb = lime_data.query('loan_category == "new" & partner in @partners')
topWeb = topWeb.groupby(by=['month', 'partner', 'sub3']).agg({'goal': 'count'}).reset_index()
topWeb.rename(columns={'sub3': 'web', 'goal': 'conv'}, inplace=True)

In [4]:
topWeb.head()

   month partner   web  conv
0      1    GURU   105    42
1      1    GURU   121    45
2      1    GURU  1430    63
3      1    GURU  1484    13
4      1    GURU  1494     1

In [5]:
topWeb['payout'] = topWeb['conv']

In [6]:
# общее кол-во конверсий
topWeb['conv'].sum()

75339

In [7]:
topWeb = topWeb.groupby(by=['partner', 'web']).agg({'conv': 'max'}).reset_index()

In [8]:
topWeb.sort_values(by='conv', ascending=False).head(20)

         partner     web  conv
9    CLICK2MONEY     174  3043
233         GURU    7044   943
656        LEADS  126905   935
14   CLICK2MONEY    2700   677
867        LEADS  156562   533
982        LEADS   26807   426
74          GURU    1563   420
63          GURU    1430   397
70          GURU    1529   396
75          GURU      16   384
6    CLICK2MONEY      15   384
302      LEADGID   24117   295
379      LEADGID   34349   288
33   CLICK2MONEY      55   271
352      LEADGID   31445   266
722        LEADS  140237   264
127         GURU    3091   263
468      LEADGID   58461   246
519      LEADGID   64005   243
90          GURU    2149   233

In [9]:
topWeb.query('conv >= 50')['conv'].describe()

count      76.000000
mean      219.631579
std       372.821238
min        51.000000
25%        72.750000
50%       103.500000
75%       235.500000
max      3043.000000
Name: conv, dtype: float64

In [10]:
topWeb.query('conv >= 50')['conv'].sum()

16692

In [11]:
topWeb.query('conv < 50')['conv'].describe()

count    998.000000
mean       5.684369
std        8.212790
min        1.000000
25%        1.000000
50%        2.000000
75%        6.000000
max       48.000000
Name: conv, dtype: float64

In [12]:
topWeb.query('conv < 50')['conv'].sum()

5673

In [13]:
topWeb['conv'].sum()

22365

In [14]:
# 100+
display(topWeb.query(' 100 <= conv').sort_values('conv', ascending=False))
display(topWeb.query(' 100 <= conv')['conv'].count())

          partner     web  conv
9     CLICK2MONEY     174  3043
233          GURU    7044   943
656         LEADS  126905   935
14    CLICK2MONEY    2700   677
867         LEADS  156562   533
982         LEADS   26807   426
74           GURU    1563   420
63           GURU    1430   397
70           GURU    1529   396
75           GURU      16   384
6     CLICK2MONEY      15   384
302       LEADGID   24117   295
379       LEADGID   34349   288
33    CLICK2MONEY      55   271
352       LEADGID   31445   266
722         LEADS  140237   264
127          GURU    3091   263
468       LEADGID   58461   246
519       LEADGID   64005   243
90           GURU    2149   233
1014        LEADS   45551   226
117          GURU    2764   211
1023        LEADS   47493   204
88           GURU    2067   198
50    CLICK2MONEY     965   196
149          GURU    3614   185
673         LEADS  129922   183
808         LEADS  149714   176
229          GURU     666   174
332       LEADGID   27805   164
853         LEADS  154244   147
1027        LEADS   48168   146
183          GURU    4755   146
313       LEADGID   25473   145
269       LEADGID   12950   145
86           GURU    2018   131
693         LEADS  134174   111
105          GURU    2274   107
1     CLICK2MONEY    1160   100

39

In [15]:
# 50-99
display(topWeb.query(' 50 <= conv < 100').sort_values('conv', ascending=False))
display(topWeb.query(' 50 <= conv < 100' )['conv'].count())

          partner     web  conv
37    CLICK2MONEY    5647    99
817         LEADS  150965    99
1022        LEADS   47386    98
629         LEADS  115514    97
144          GURU    3519    93
278       LEADGID   19934    91
44    CLICK2MONEY      65    90
69           GURU    1501    84
329       LEADGID   27539    82
525       LEADGID   64832    82
511       LEADGID   62883    79
397       LEADGID   37193    79
772         LEADS  146789    78
384       LEADGID   35153    77
4     CLICK2MONEY     126    76
87           GURU    2024    76
1050        LEADS   53258    75
23    CLICK2MONEY    3604    73
1020        LEADS   46928    72
917         LEADS  159977    72
372       LEADGID   33203    70
143          GURU    3485    69
467       LEADGID   58238    66
458       LEADGID   57223    65
952         LEADS  166809    63
759         LEADS  146037    63
257          GURU      88    63
463       LEADGID   57766    61
343       LEADGID   28789    59
430       LEADGID   45618    58
506       LEADGID   62104    57
276       LEADGID   18504    57
312       LEADGID   25265    57
18    CLICK2MONEY    3181    54
101          GURU    2250    53
415       LEADGID   40521    52
43    CLICK2MONEY    5971    51

37

In [16]:
# 20-49
display(topWeb.query(' 50 <= conv < 300').sort_values('conv', ascending=False))
display(topWeb.query(' 50 <= conv < 300' )['conv'].count())

         partner     web  conv
302      LEADGID   24117   295
379      LEADGID   34349   288
33   CLICK2MONEY      55   271
352      LEADGID   31445   266
722        LEADS  140237   264
..           ...     ...   ...
506      LEADGID   62104    57
18   CLICK2MONEY    3181    54
101         GURU    2250    53
415      LEADGID   40521    52
43   CLICK2MONEY    5971    51

[65 rows x 3 columns]

65

In [17]:
topWeb['conv'].describe()

count    1074.000000
mean       20.824022
std       113.096433
min         1.000000
25%         1.000000
50%         3.000000
75%         8.000000
max      3043.000000
Name: conv, dtype: float64

In [20]:
topWeb.query('50 <= conv < 100')['conv'].describe()

count    37.000000
mean     72.702703
std      14.375645
min      51.000000
25%      61.000000
50%      72.000000
75%      82.000000
max      99.000000
Name: conv, dtype: float64

SyntaxError: invalid syntax (2304493840.py, line 1)