In [5]:
import pandas as pd

In [6]:
lime_data = pd.read_csv('LIME2021.csv')

In [12]:
topWeb = lime_data.query('loan_category == "new"')
topWeb = topWeb.groupby(by=['partner', 'sub3']).agg({'goal': 'count'}).reset_index()
topWeb.rename(columns={'sub3': 'web', 'goal': 'conv'}, inplace=True)
topWeb = topWeb.sort_values(by='conv', ascending=False)
topWeb = topWeb.query('conv > 19')

In [13]:
topWeb

         partner     web  conv
18   CLICK2MONEY     174  1275
122        LEADS  126905   328
23   CLICK2MONEY      55   167
17   CLICK2MONEY      15   144
199    LEADSTECH      13   113
6          BANKI   AFFID   107
41          GURU    1529    67
88       LEADGID   31445    62
86       LEADGID   28789    58
58          GURU    3614    57
63          GURU     666    53
52          GURU    2764    50
189        LEADS   47493    49
152        LEADS  149714    47
208    LEADSTECH       8    45
8        CITYADS    4QCp    45
138        LEADS  140237    42
14   CLICK2MONEY    1160    41
21   CLICK2MONEY    3604    41
126        LEADS  129922    41
200    LEADSTECH      15    41
93       LEADGID   34349    40
39          GURU    1430    37
54          GURU    3091    37
49          GURU    2149    33
42          GURU      16    33
84       LEADGID   25473    33
65          GURU    9063    31
16   CLICK2MONEY     126    30
203    LEADSTECH      40    28
195        LEADS   53258    24
158        LEADS  154244    23
77       LEADGID   19934    22