In [1]:
from basic_stats import *
import plotly.express as px
import datetime
import matplotlib.pyplot as plt
import warnings
from time import time
warnings.filterwarnings('ignore')

### Укажите параметры для фильтрации данных

In [2]:
# START_DATE
start = '2021-01-01'

# END_DATE
end = str(datetime.date.today())
# end = '2021-12-31'

In [3]:
# PARTNER_ID
affiliate = '30'

# WEBMASTER_ID
web = '0'

### Выгрузка данных о конверсиях

In [4]:
start_ts = time()
conversions = get_conversions_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)
end_ts = time()

display(f'Конверсии выгружены за {end_ts - start_ts:.0f} сек.')
# display(conversions)

'Конверсии выгружены за 194 сек.'

### Выгрузка данных о кликах

In [5]:
start_ts = time()
clicks = get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)
end_ts = time()

display(f'Клики выгружены за {end_ts - start_ts:.0f} сек.')
# display(clicks)

'Клики выгружены за 19 сек.'

### Общий отчет с динамикой показателей
**index** (datatype - str) отвечает за группировку данных и может принимать значения:
* 'date' - по дням
* 'week' - по неделям
* 'month' - по месяцам
* 'year' - по годам

Также допускается смешанная группировка вида **index=['year', 'month']**

### Важно
Для перегруппировки данных не нужно перезапускать весь отчет - достаточно изменить index и запустить ячейку с dynamic_report

### Данные, доступные для анализа
* **clicks** - кол-во уникальных кликов
* **reg** - кол-во регистраций (step4)
* **new** - кол-во новых займов
* **rep** - кол-во повторных займов
* **total** - общее кол-во займов
* **CR%** - кэф. конверсии в регистрацию
* **AR%** - кэф. конверсии в выдачу (из регистрации)
* **RLS%** - доля повторных займов
* **payouts** - общая сумма выплат
* **EPC** - доход на 1 уникальный клик
* **EPL** - доход на 1 регистрацию
* **CPAn** - доход на 1 новый выданный заем. Расчитывается по формуле ((payots - rep *500) / new) т.е без учета расходов на повторные выдачи
* **CPAr** - доход на 1 новый выданный заем. Расчитывается по формуле payouts / new

In [6]:
dynamic_report = get_dynamic_report(conversions, clicks, index='date')
dynamic_report

,clicks,reg,new,rep,total,CR%,AR%,RLS%,payouts,EPC,EPL,CPAn,CPAr,new_pp,CPA_pp,new_np,CPA_np
date,,,,,,,,,,,,,,,,,
2021-01-01,1398,38,16,15,31,2.7,42.1,48.4,55200,39,1452,2981,3450,0.0,0,16,2981
2021-01-02,1650,71,28,39,67,4.3,39.4,58.2,96300,58,1356,2742,3439,0.0,0,28,2742
2021-01-03,2153,139,42,53,95,6.5,30.2,55.8,131200,60,943,2492,3123,0.0,0,42,2492
2021-01-04,2296,140,48,49,97,6.1,34.3,50.5,154400,67,1102,2706,3216,0.0,0,48,2706
2021-01-05,3199,217,63,50,113,6.8,29.0,44.2,190600,59,878,2628,3025,0.0,0,63,2628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-17,3261,195,41,21,62,6.0,21.0,33.9,170000,52,871,3890,4146,31.0,4051,10,3390
2022-02-18,3883,304,45,17,62,7.8,14.8,27.4,181700,46,597,3848,4037,38.0,4021,7,2914
2022-02-19,2601,176,41,22,63,6.8,23.3,34.9,168400,64,956,3839,4107,32.0,3962,9,3400
2022-02-20,2693,233,38,14,52,8.7,16.3,26.9,154200,57,661,3873,4057,27.0,3985,11,3600
2022-02-21,3424,267,61,18,79,7.8,22.8,22.8,249200,72,933,3937,4085,50.0,4096,11,3218

In [7]:
# fig = px.bar(dynamic_report[dynamic_report.columns.to_list()])
# # fig.update_yaxes(range=(5000, 15000))
# fig.show()

In [8]:
# clicks

In [9]:
# get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)

In [10]:
# lg = conversions.query('partner == "LEADGID" and  goal != "registration"')
# lg = lg.pivot_table(index='month', columns='sub3', values='goal', aggfunc='count', fill_value=0, margins=True)
# lg.sort_values(by='All', ascending=False, axis=1)

In [11]:
conversions.groupby(by='referrer').agg({'sub3': 'unique', 'goal': 'count'})

                                                                 sub3   goal
referrer
                    [31445, 34349, 69023, 32057, 43231, 8622, 2526...  44238
0procentov.website                                            [77181]     11
1000bankov.ru                                                  [7720]      7
100rubles.ru                                                  [24285]      2
101mfo.online                                                 [76593]      1
...                                                               ...    ...
zen.yandex.ru                                          [75156, 69626]     83
zero-zaim.ru                                                  [51570]    123
zerozaem.ru                                                    [9658]      3
zet-zaim.ru                                                   [27369]    206
zmfo.ru                                                       [70097]      2

[1242 rows x 2 columns]

###