In [1]:
from basic_stats import *
import plotly.express as px
import datetime
import matplotlib.pyplot as plt
import warnings
from time import time
warnings.filterwarnings('ignore')

### Укажите параметры для фильтрации данных

In [2]:
# START_DATE
start = '2022-02-01'

# END_DATE
end = str(datetime.date.today())
# end = '2021-12-31'

In [3]:
# PARTNER_ID
affiliate = '0'

# WEBMASTER_ID
web = '0'

### Выгрузка данных о конверсиях

In [4]:
start_ts = time()
conversions = get_conversions_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)
end_ts = time()

display(f'Конверсии выгружены за {end_ts - start_ts:.0f} сек.')
# display(conversions)

'Конверсии выгружены за 87 сек.'

### Выгрузка данных о кликах

In [5]:
start_ts = time()
clicks = get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)
end_ts = time()

display(f'Клики выгружены за {end_ts - start_ts:.0f} сек.')
# display(clicks)

'Клики выгружены за 2 сек.'

### Общий отчет с динамикой показателей
**index** (datatype - str) отвечает за группировку данных и может принимать значения:
* 'date' - по дням
* 'week' - по неделям
* 'month' - по месяцам
* 'year' - по годам

Также допускается смешанная группировка вида **index=['year', 'month']**

### Важно
Для перегруппировки данных не нужно перезапускать весь отчет - достаточно изменить index и запустить ячейку с dynamic_report

### Данные, доступные для анализа
* **clicks** - кол-во уникальных кликов
* **reg** - кол-во регистраций (step4)
* **new** - кол-во новых займов
* **rep** - кол-во повторных займов
* **total** - общее кол-во займов
* **CR%** - кэф. конверсии в регистрацию
* **AR%** - кэф. конверсии в выдачу (из регистрации)
* **RLS%** - доля повторных займов
* **payouts** - общая сумма выплат
* **EPC** - доход на 1 уникальный клик
* **EPL** - доход на 1 регистрацию
* **CPAn** - доход на 1 новый выданный заем. Расчитывается по формуле ((payots - rep *500) / new) т.е без учета расходов на повторные выдачи
* **CPAr** - доход на 1 новый выданный заем. Расчитывается по формуле payouts / new

In [6]:
dynamic_report = get_dynamic_report(conversions, clicks, index='date')
dynamic_report

,clicks,reg,new,rep,total,CR%,AR%,RLS%,payouts,EPC,EPL,CPAn,CPAr,new_pp,CPA_pp,new_np,CPA_np
date,,,,,,,,,,,,,,,,,
2022-02-01,33086,2502,619,171,790,7.6,24.7,21.6,2327100,70,930,3621,3759,346,4026,273,3107
2022-02-02,36911,2418,513,221,734,6.6,21.2,30.1,1985600,53,821,3655,3870,317,4089,196,2952
2022-02-03,38254,2257,456,175,631,5.9,20.2,27.7,1721900,45,762,3584,3776,266,4087,190,2880
2022-02-04,33007,2302,529,169,698,7.0,23.0,24.2,2017800,61,876,3654,3814,306,4101,223,3041
2022-02-05,33432,2382,591,205,796,7.1,24.8,25.8,2267400,67,951,3663,3836,342,4085,249,3083
2022-02-06,33622,2432,544,171,715,7.2,22.4,23.9,2106000,62,865,3714,3871,338,4102,206,3077
2022-02-07,33865,2456,612,183,795,7.3,24.9,23.0,2343200,69,954,3679,3828,384,4111,228,2951
2022-02-08,36149,2625,659,187,846,7.3,25.1,22.1,2542700,70,968,3716,3858,440,4114,219,2917
2022-02-09,36601,2521,579,201,780,6.9,23.0,25.8,2210500,60,876,3644,3817,351,4101,228,2939
2022-02-10,36225,2353,446,159,605,6.5,19.0,26.3,1677000,46,712,3581,3760,257,4113,189,2858
2022-02-11,31870,2179,532,207,739,6.8,24.4,28.0,2053200,64,942,3664,3859,343,4105,189,2865
2022-02-12,31771,2285,496,201,697,7.2,21.7,28.8,1913800,60,837,3655,3858,315,4104,181,2875
2022-02-13,34523,2387,544,193,737,6.9,22.8,26.2,2104800,60,881,3691,3869,351,4139,193,2877
2022-02-14,33378,2003,482,188,670,6.0,24.1,28.1,1860200,55,928,3664,3859,303,4126,179,2882
2022-02-15,33100,2220,490,197,687,6.7,22.1,28.7,1901600,57,856,3679,3880,315,4102,175,2919
2022-02-16,33694,2307,561,216,777,6.8,24.3,27.8,2202100,65,954,3732,3925,378,4118,183,2936
2022-02-17,36045,2310,531,192,723,6.4,23.0,26.6,2087800,57,903,3751,3931,343,4131,188,3057
2022-02-18,34471,2328,544,186,730,6.8,23.4,25.5,2137900,62,918,3759,3929,361,4114,183,3057
2022-02-19,31384,2249,547,194,741,7.2,24.3,26.2,2141100,68,952,3736,3914,361,4107,186,3017
2022-02-20,22364,1757,422,150,572,7.9,24.0,26.2,1655200,74,942,3744,3922,268,4114,154,3101

In [7]:
# fig = px.bar(dynamic_report[dynamic_report.columns.to_list()])
# # fig.update_yaxes(range=(5000, 15000))
# fig.show()

In [8]:
# clicks

In [9]:
# get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)

In [10]:
# lg = conversions.query('partner == "LEADGID" and  goal != "registration"')
# lg = lg.pivot_table(index='month', columns='sub3', values='goal', aggfunc='count', fill_value=0, margins=True)
# lg.sort_values(by='All', ascending=False, axis=1)