In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('LIME2021.csv')

/Users/mikhail/PycharmProjects/affise/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [17]:
leads = df.query('partner == "LEADS" & loan_category == "new"').reset_index()

In [15]:
leads

,index,Unnamed: 0,date,action_id,click_id,status,offer_id,goal,payouts,partner,...,sub2,sub3,sub4,sub5,sub6,weekday,week,month,year,loan_category
0,44,44,2021-12-07,5648319,61ae4caa190e9c0001f62ecc,confirmed,16,low_score_client,1800,LEADS,...,NaN,126905,NaN,NaN,NaN,Tuesday,49,12,2021,new
1,52,52,2021-12-07,5833587,61ad82c6190e9c0001f57a94,confirmed,16,med_score_client,3000,LEADS,...,NaN,154244,NaN,NaN,NaN,Tuesday,49,12,2021,new
2,66,66,2021-12-07,5691251,61af3bb4190e9c0001f6b66d,confirmed,16,repeated_loan,500,LEADS,...,NaN,140237,NaN,NaN,NaN,Tuesday,49,12,2021,rep
3,129,129,2021-12-07,5840080,61af2c08190e9c0001f6a85f,confirmed,16,med_score_client,3000,LEADS,...,NaN,129922,NaN,NaN,NaN,Tuesday,49,12,2021,new
4,202,202,2021-12-07,5765585,61af3177190e9c0001f6ad4b,confirmed,16,repeated_loan,500,LEADS,...,NaN,129922,NaN,NaN,NaN,Tuesday,49,12,2021,rep
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43202,737575,741536,2021-01-01,4777675,5feed67a00d186000187258b,confirmed,16,med_score_client,3000,LEADS,...,1152558,45551,NaN,NaN,NaN,Friday,53,1,2021,new
43203,737610,741571,2021-01-01,4777611,5feec23a00d1860001872267,confirmed,16,high_score_client,4500,LEADS,...,1112521,115514,NaN,NaN,NaN,Friday,53,1,2021,new
43204,737631,741592,2021-01-01,4777293,5fee9d3e00d1860001871e86,confirmed,7,low_score_client,1800,LEADS,...,1126853,134174,NaN,NaN,NaN,Friday,53,1,2021,new
43205,737654,741615,2021-01-01,4776603,5fed7af100d186000186f058,confirmed,16,high_score_client,4500,LEADS,...,1142492,45551,NaN,NaN,NaN,Friday,53,1,2021,new
43206,737675,741636,2021-01-01,3374021,5fee5acc00d1860001871835,confirmed,7,low_score_client,1800,LEADS,...,1077472,14205,NaN,NaN,NaN,Friday,53,1,2021,new