In [1]:
from basic_stats import *
import plotly.express as px
import datetime
import matplotlib.pyplot as plt
import warnings
from time import time
warnings.filterwarnings('ignore')

## Создаем датафрейм со всеми конверсиями за период

In [2]:
start = '2022-02-01'
end = str(datetime.date.today())
# end = '2021-09-16'


affiliate = '0'
web = '0'

In [3]:
start_ts = time()
conversions = get_conversions_dataframe(advertiser=LIME, affiliate=affiliate, web=web, 
                                        date_from=start, date_to=end)
end_ts = time()

display(end_ts - start_ts)
# display(conversions)

95.6841881275177

In [4]:
start_ts = time()
clicks = get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, 
                              date_from=start, date_to=end)
end_ts = time()

display(end_ts - start_ts)
# display(clicks)

2.6803741455078125

In [16]:
dynamic_report = get_dynamic_report(conversions, clicks, index='month')

In [17]:
dynamic_report.reset_index()

,month,clicks,reg,new,rep,total,CR%,AR%,RLS%,payouts,EPC,EPL,CPAn,CPAr
0,2,471240,32259,7411,2576,9987,6.8,23.0,25.8,28400000,60,880,3658,3832

In [7]:
# fig = px.bar(dynamic_report[dynamic_report.columns.to_list()])
# # fig.update_yaxes(range=(5000, 15000))
# fig.show()

In [8]:
# clicks

In [9]:
# get_clicks_dataframe(advertiser=LIME, affiliate=affiliate, web=web, date_from=start, date_to=end)

In [10]:
lg = conversions.query('partner == "LEADGID" and  goal != "registration"')
lg = lg.pivot_table(index='month', columns='sub3', values='goal', aggfunc='count', fill_value=0, margins=True)
lg.sort_values(by='All', ascending=False, axis=1)

sub3,All,34349,31445,64005,27805,75490,31447,66247,43231,19934,...,15747,2860,34879,37653,66488,66058,39087,42733,62788,70535
month,,,,,,,,,,,,,,,,,,,,,
2,964,255,116,111,75,74,64,52,28,25,...,1,1,1,1,1,1,1,1,1,1
All,964,255,116,111,75,74,64,52,28,25,...,1,1,1,1,1,1,1,1,1,1